@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }

  #root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
}
